@{
    ViewBag.Title = "Home (offline)";
    Layout = "~/Views/Shared/_LayoutOffline.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1>Home <small>(offline)</small></h1>
    </div>
</div>

<div class="alert alert-success online">Online</div>
<div class="alert alert-danger deferred offline">Offline</div>
